@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{

    background-color: rgb(172, 221, 221);
    flex-wrap: nowrap;
}
.board{
    margin: auto;
    margin-top: 25px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    width: 360px;
    height: 90vh;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.board2 img{
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.para{
    padding: 5px;

}
.heading{
    margin-top: 40px;
    text-align: center;
     font-family: 'Dosis', sans-serif;;
    color: rgb(33, 33, 56);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;

}
.paragraph{
    margin-top: 50px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: gray;
    font-size: 18px;
}
